.contain {
    width: 1000px;
    margin: auto;
}
/* ini untuk HEADER */
.header {
    width: 1000px;
    height: 400px;
    background-color: aqua;
    background-image: url(https://wallpaper.dog/large/5486500.png);
}
/* ini untuk SALAM */
.salam {
    width:500px;
    height:500px;
    float:left;
    font-style: oblique;
    font-family: 'century gothic';
}
.salam1 {
    margin-top: 120px;
    margin-left: 150px;
    font-size:190%;
    color: dimgrey;
}
.salam2 {
    color: grey;
    border:solid;
    width:300px;
    padding:10px;
    margin-top: -40px;
    margin-left: 150px;
}

.photo {
    width:500px;
    float:right;
}
.photo img {
    width:350px;
    margin-top:-47px;
    border-radius:0px;
}
.aboutme {
    width:1000px;
    height:350px;
    background-color:dimgray;
    background-image: url(https://cdn.hovia.com/app/uploads/dark-grey-black-wood-grain-pattern-wallpaper-mural-Plain-scaled.jpg);
    opacity: 0.7;
}
.judul {
    float: left;
    color: white;
    font-family: 'century gothic';
    font-size: 200%;
    margin-left: 150px;
    margin-top: -200px;
}
.isi {
    width:500px;
    float:left;
    color:thistle;
    font-family: 'century gothic';
    margin-top: 30px;
    font-size: 120%;
/* ini untuk socmed */
}
.socmed {
    height:120px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-YWrpuabaUNBU_iEqcmH-w-phGCrffN2yoA&usqp=CAU);
}
.findme {
    float: center;
    text-align: center;
    font-family: 'century gothic';
    font-style: inherit;
    background-color:black;
    color: white;
    margin-top: 0px;
    font-size: 150%;
}

a{
    text-decoration: none;
}